/**
 * @name Acrylic
 * @author cryptofyre
 * @description Transparent theme for use with Acrylic themesets.
*/

@media (prefers-color-scheme: dark) {
    :root {
        --sidebarGlasstron: rgba(0, 0, 0, 0) !important;
        --sidebarStandard: #0c0c0c !important;
        --pageBG: rgba(0, 0, 0, 0) !important;
        --playerBackground: #00000047!important;
    }

    .dt-search-box__input {
        background-color: #00000013 !important;
    }
}
